html,
body {
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*  bgi(↓テンプレじゃない)
-------------------------------------------------- */
.container,
.container2 {
  width: 100%;
  background-repeat: no-repeat; /*繰り返さない*/
  background-size: cover;
  background-position: center;
  position: relative; /* 子要素を重ねるために必要 */
}

.container {
  background-image: url(./img/bgi1.jpg);
  height: 6580px;
  max-width: 100%;
}

/*  nav
-------------------------------------------------- */

.nav-icon {
  width: 10em;
  margin-left: 70px;
}
.collapse {
  padding-left: 500px;
}
.nav-link {
  color: #ff8686;
  font-family: "Charter Black";
  font-size: 20px;
  margin-left: 20px;
}
.iicon {
  margin-left: 100px;
  font-size: 30px;
}

.iicon i:not(:last-child) {
  margin-right: 40px; /*iconのiクラスだけ*/
}

/* 背景の上に置くコンテンツ （concept）
-------------------------------------------------- */
.content img {
  position: absolute; /*親のrelativeの中で自由に配置できる*/
  top: 7%; /* 中央に配置 */
  left: 15em;
  width: 25em; /* 画像を元の2倍に拡大 */
  height: auto;
}
.content2 img {
  position: absolute;
  top: 7.5%; /* 中央に配置 */
  left: 16%;
  height: 25em;
}

.content-text {
  position: absolute;
  top: 9%;
  left: 50%;
}

.content-text h1 {
  padding-bottom: 30px;
}

.content-text p {
  margin-left: 10px;
}

.content3 img {
  position: absolute;
  top: 17%;
  right: 15em;
  width: 25em;
  height: auto;
}
.content4 img {
  position: absolute;
  top: 17.5%;
  right: 16%;
  height: 25em;
}

.content-text2 {
  position: absolute;
  top: 19%;
  right: 45%;
}

/* 背景の上に置くコンテンツ （main）
-------------------------------------------------- */
.main1 img {
  position: absolute;
  top: 275.5%;
  left: 0.4%;
  height: 30em;
}

.main1-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 10.6%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main1-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main1-content-text {
  position: absolute;
  top: 325%;
  left: 15.5%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main1-box {
  position: absolute;
  top: 332%;
  left: 13%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}
.main2 img {
  position: absolute;
  top: 275.5%;
  left: 31.43%;
  height: 30em;
}
.main2-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 42%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main2-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main2-content-text {
  position: absolute;
  top: 325%;
  left: 45%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main2-box {
  position: absolute;
  top: 332%;
  left: 44%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}

.main3 img {
  position: absolute;
  top: 275.5%;
  left: 62.43%;
  height: 30em;
}

.main3-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 73%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main3-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main3-content-text {
  position: absolute;
  top: 325%;
  left: 77%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main3-box {
  position: absolute;
  top: 332%;
  left: 75%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}

.main3-content-text:hover,
.main2-content-text:hover,
.main1-content-text:hover {
  color: #ff69b4; /* ホバー時にピンクに */
}

/* （collaboration）
-------------------------------------------------- */
.corabo1 img {
  position: absolute;
  top: 400%;
  left: 50%;
  height: 23em;
}

.corabo2 img {
  position: absolute;
  top: 385%;
  left: 50%;
  height: 12em;
}

.corabo3 img {
  position: absolute;
  top: 400%;
  left: 72%;
  height: 23em;
}

.corabo4 img {
  position: absolute;
  top: 439%;
  left: 72%;
  height: 23em;
}

.corabo5 img {
  position: absolute;
  top: 439%;
  left: 57%;
  height: 23em;
}

.corabo6 img {
  position: absolute;
  top: 439%;
  left: 40%;
  height: 25em;
}

.corabo7 img {
  position: absolute;
  top: 370%;
  left: 75%;
  height: 24em;
}

.corabo-box {
  position: absolute;
  top: 400%;
  left: 11%;
  width: 500px;
  height: 745px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";

  border-radius: 10%;
}

.corabo-box h1 {
  border-bottom: 2px solid rgb(255, 117, 140); /* 線の色と太さ */
  display: inline-block; /* テキスト幅だけ線を引く */
  padding-bottom: 4px; /* 文字と線の間に余白 */
  color: #ff7676;
  margin-left: 120px;
}

.corabo-box h2 {
  padding-top: 20px;
}

.corabo-box h2 span {
  color: #ff53d4;
}

.corabo-text {
  position: absolute;
  color: #ebff77;
  top: 385%;
  left: 50px;
  font-size: 60px;
  font-family: "arial black";
  font-style: italic; /*手書き風斜め文字*/
  transform: rotate(-15deg); /* マイナスで左下がり、プラスで右上がり */
  display: inline-block;
}

.corabo-text:hover {
  transform: scale(1.3);
}

.corabo-box2 {
  position: absolute;
  top: 480%;
  left: 11%;
  width: 237px;
  height: 80px;
  background-color: rgba(255, 240, 71); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
  border-radius: 6%;
  margin-left: 110px;
}

.corabo-box2:hover {
  background-color: #ffa0a0;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
