html,
body {
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*  bgi(↓テンプレじゃない)
-------------------------------------------------- */
.container,
.container2 {
  background-repeat: no-repeat; /*繰り返さない*/
  background-size: cover;
  background-position: center;
  position: relative; /* 子要素を重ねるために必要 */
}

.container {
  background-image: url(./img/bgi1.jpg);
  height: 6580px;
  max-width: 100%;
}

.container2 {
  background-image: url(./img/bgi2.jpg);
  height: 2560px; /* 画面の高さに合わせる */
  background-size: cover; /* コンテナ全体を覆う（はみ出てもOK） */
  background-position: center;
  background-repeat: no-repeat;
}

/*  nav
-------------------------------------------------- */

.nav-icon {
  width: 10em;
  margin-left: 70px;
}
.collapse {
  padding-left: 500px;
}
.nav-link {
  color: #ff8686;
  font-family: "Charter Black";
  font-size: 20px;
  margin-left: 20px;
}
.iicon {
  margin-left: 100px;
  font-size: 30px;
}

.iicon i:not(:last-child) {
  margin-right: 40px; /*iconのiクラスだけ*/
}

/* 背景の上に置くコンテンツ （concept）
-------------------------------------------------- */
.content img {
  position: absolute; /*親のrelativeの中で自由に配置できる*/
  top: 7%; /* 中央に配置 */
  left: 15em;
  width: 25em; /* 画像を元の2倍に拡大 */
  height: auto;
}
.content2 img {
  position: absolute;
  top: 7.5%; /* 中央に配置 */
  left: 16%;
  height: 25em;
}

.content-text {
  position: absolute;
  top: 9%;
  left: 50%;
}

.content-text h1 {
  padding-bottom: 30px;
}

.content-text p {
  margin-left: 10px;
}

.content3 img {
  position: absolute;
  top: 17%;
  right: 15em;
  width: 25em;
  height: auto;
}
.content4 img {
  position: absolute;
  top: 17.5%;
  right: 16%;
  height: 25em;
}

.content-text2 {
  position: absolute;
  top: 19%;
  right: 45%;
}

/* 背景の上に置くコンテンツ （main）
-------------------------------------------------- */
.main1 img {
  position: absolute;
  top: 275.5%;
  left: 0.4%;
  height: 30em;
}

.main1-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 10.6%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main1-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main1-content-text {
  position: absolute;
  top: 325%;
  left: 15.5%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main1-box {
  position: absolute;
  top: 332%;
  left: 13%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}
.main2 img {
  position: absolute;
  top: 275.5%;
  left: 31.43%;
  height: 30em;
}
.main2-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 42%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main2-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main2-content-text {
  position: absolute;
  top: 325%;
  left: 45%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main2-box {
  position: absolute;
  top: 332%;
  left: 44%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}

.main3 img {
  position: absolute;
  top: 275.5%;
  left: 62.43%;
  height: 30em;
}

.main3-content img {
  position: absolute;
  height: 20em;
  top: 283.5%;
  left: 73%;
  border-radius: 50%; /* これで丸くなる！ */
  object-fit: cover; /* はみ出さず綺麗に収まる */

  transition: transform 0.3s ease; /* スムーズなアニメーション */
}

.main3-content img:hover {
  transform: scale(1.08); /* 1.05倍に拡大 */
}

.main3-content-text {
  position: absolute;
  top: 325%;
  left: 77%;
  font-size: 30px;
  color: #fffafa;
  font-family: "arial black";
}

.main3-box {
  position: absolute;
  top: 332%;
  left: 75%;
  width: 270px;
  height: 150px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
}

.main3-content-text:hover,
.main2-content-text:hover,
.main1-content-text:hover {
  color: #ff69b4; /* ホバー時にピンクに */
}

/* （collaboration）
-------------------------------------------------- */
.corabo1 img {
  position: absolute;
  top: 400%;
  left: 50%;
  height: 23em;
}

.corabo2 img {
  position: absolute;
  top: 385%;
  left: 50%;
  height: 12em;
}

.corabo3 img {
  position: absolute;
  top: 400%;
  left: 72%;
  height: 23em;
}

.corabo4 img {
  position: absolute;
  top: 439%;
  left: 72%;
  height: 23em;
}

.corabo5 img {
  position: absolute;
  top: 439%;
  left: 57%;
  height: 23em;
}

.corabo6 img {
  position: absolute;
  top: 439%;
  left: 40%;
  height: 25em;
}

.corabo7 img {
  position: absolute;
  top: 370%;
  left: 75%;
  height: 24em;
}

.corabo-box {
  position: absolute;
  top: 400%;
  left: 11%;
  width: 500px;
  height: 745px;
  background-color: rgba(245, 245, 245, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";

  border-radius: 10%;
}

.corabo-box h1 {
  border-bottom: 2px solid rgb(255, 117, 140); /* 線の色と太さ */
  display: inline-block; /* テキスト幅だけ線を引く */
  padding-bottom: 4px; /* 文字と線の間に余白 */
  color: #ff7676;
  margin-left: 120px;
}

.corabo-box h2 {
  padding-top: 20px;
}

.corabo-box h2 span {
  color: #ff53d4;
}

.corabo-text {
  position: absolute;
  color: #ebff77;
  top: 385%;
  left: 50px;
  font-size: 60px;
  font-family: "arial black";
  font-style: italic; /*手書き風斜め文字*/
  transform: rotate(-15deg); /* マイナスで左下がり、プラスで右上がり */
  display: inline-block;
}

.corabo-text:hover {
  transform: scale(1.3);
}

.corabo-box2 {
  position: absolute;
  top: 480%;
  left: 11%;
  width: 237px;
  height: 80px;
  background-color: rgba(255, 240, 71); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: "arial black";
  border-radius: 6%;
  margin-left: 110px;
}

.corabo-box2:hover {
  background-color: #ffa0a0;
}

/* (commitment)
-------------------------------------------------- */

.content-commitment {
  position: absolute;
  top: 520%;
  left: 50%;
  width: 855px;
  height: 290px;
  background-color: rgba(177, 221, 255, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: serif;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.content-commitment-text {
  padding-top: 30px;
  padding-left: 70px;
}

.content-commitmen2 {
  position: absolute;
  top: 564%;
  left: 60%;
  width: 685px;
  height: 290px;
  background-color: rgba(170, 255, 194, 0.5); /* ← ここで薄さを指定 */
  padding: 20px;
  color: #545454;
  font-weight: bold;
  font-family: serif;
  font-size: 10px;
  margin-top: 10px;
}

.commitment-img img {
  position: absolute;
  top: 521%;
  left: 5%;
  height: 45em;
}

/* (gallery)
-------------------------------------------------- */

.gallery1 img {
  position: absolute;
  top: 655%;
  left: 72%;
  height: 20em;
}
.gallery2 img {
  position: absolute;
  top: 655%;
  left: 53%;
  height: 20em;
}

.gallery3 img {
  position: absolute;
  top: 690%;
  left: 53%;
  height: 19em;
}

.gallery4 img {
  position: absolute;
  top: 690%;
  left: 72%;
  height: 19em;
}

.content-gallery img:hover {
  transform: scale(1.1);
}

.gallery-text ul {
  position: absolute;
  top: 675%;
  left: 20%;
  font-size: 40px;
  margin-bottom: 10px;
}
.gallery-text2 h1 {
  position: absolute;
  top: 705%;
  left: 20%;
  color: #ff3ad4;
  font-weight: bold; /*太文字にする*/
}

.gallery-icon img {
  position: absolute;
  top: 680%;
  left: 2%;
  height: 13em;
  border-radius: 18%;
}

.gallery-icon img:hover {
  transform: scale(1.1);
}

/* （shop）
-------------------------------------------------- */

.shop-text h1 {
  position: absolute;
  top: 12%;
  left: 55%;
  font-family: Courier;
  color: #5d5d5d;
  background-color: #ffe5e5ae;
}
.shop-text h2 {
  position: absolute;
  top: 14%;
  left: 53%;
  font-family: Courier;
  color: #5d5d5d;
  background-color: #fbffc7ae;
}

.shop span {
  color: #ff91a0;
}
.shop-text2 p {
  position: absolute;
  top: 18%;
  left: 50%;
  font-family: Courier;
  color: #5d5d5d;
  font-size: 30px;
  border-bottom: 2px solid #6b6b6b; /* 太さ3px、色は黒 */
  margin-bottom: 10px;
}
.shop-text3 p {
  position: absolute;
  top: 21%;
  left: 50%;
  font-family: Courier;
  color: #5d5d5d;
  font-size: 30px;
  border-bottom: 2px solid #6b6b6b; /* 太さ3px、色は黒 */
  margin-bottom: 10px;
}

.shop-text4 p {
  position: absolute;
  top: 24%;
  left: 50%;
  font-family: Courier;
  color: #5d5d5d;
  font-size: 30px;
  border-bottom: 2px solid #6b6b6b; /* 太さ3px、色は黒 */
  margin-bottom: 10px;
}

.shop-text5 p {
  position: absolute;
  top: 27%;
  left: 50%;
  font-family: Courier;
  color: #5d5d5d;
  font-size: 30px;
  border-bottom: 2px solid #6b6b6b; /* 太さ3px、色は黒 */
  margin-bottom: 10px;
}

.shop-img img {
  position: absolute;
  top: 11%;
  left: 7%;
  height: 40em;
  box-shadow: 12px 12px 12px rgba(255, 139, 207, 0.446); /* 横・縦・ぼかし・色 */
  border-radius: 8px; /* 角を少し丸く（任意） */
}

.shop-map a {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 30px;
  border-bottom: 2px solid #6b6b6b; /* 太さ3px、色は黒 */
  text-decoration: none; /* 下線をなくす */
  color: #ff91a0;
}

.shop-map a:hover {
  transform: scale(1.5); /* 1.05倍に拡大 */
}

/* all
-------------------------------------------------- */

.all-text a {
  position: absolute;
  top: 64.5%;
  left: 10%;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.all-text2 a {
  position: absolute;
  top: 58%;
  left: 16%;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.all-text3 a {
  position: absolute;
  top: 64.5%;
  left: 29%;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}
.all-text4 a {
  position: absolute;
  top: 58%;
  left: 35%;
  font-size: 35px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.all-text5 a {
  position: absolute;
  top: 64.5%;
  left: 47%;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.all-text6 a {
  position: absolute;
  top: 58%;
  left: 63%;
  font-size: 35px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.all-text7 a {
  position: absolute;
  top: 64.5%;
  left: 77%;
  font-size: 40px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: #ff9317;
}

.message h1 {
  position: absolute;
  top: 83%;
  left: 45%;
  font-size: 30px;
  color: #575757;
}

.message a :hover {
  transform: scale(1.5);
}

.message2 {
  position: absolute;
  top: 85%;
  left: 40%;
  font-size: 20px;
}

.logo {
  position: absolute;
  top: 95.5%;
  left: 42%;
  font-size: 40px;
  font-family: YuMincho;
  color: #606060;
  font-weight: bold;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
